<div id="info-overlay">
	<div id="info-overlay-box">
		<ul>
			<li>&#128433; left click and grab &amp; drag the scene with the mouse to rotate the camera arround the scene center</li>
			<li>&#128433; middle click and grab &amp; drag <B>or</B> mouse weel to zoom in or out</li>
			<li>&#128433; right click and grab &amp; drag <B>or</B> mouse left-click plus <kbd>Ctrl</kbd> and grab &amp; drag to pan</li>
			<li>Use <kbd>n</kbd> keyboard button to perform auto animation</li>
			<li>Use <kbd>&#8679;</kbd> (shift) to disable temporary controls (e.g. for interaction)</li>
			<li>Open the page with the HTTP option <i>?noinfo=true</i> to prevent this info dialog</li>
			<li></li>
			<li><B>Click anywhere to close this dialog</B></li>

		</ul>
	</div>
</div>