<!DOCTYPE html>
<html>
	<head>
		<script src="/js/jquery/jquery.min.js"></script>
		<script src="/js/jsbarcode/JsBarcode.all.min.js"></script>

		<script  src="/js/static/suitcase/LuggageTagRenderer.js"></script>

		<script type="text/javascript">
		//	import LuggageTagRenderer from '/js/static/suitcase/LuggageTagRenderer.js';


// /app/luggagetag_test?passengerName=John%20Doe&flightWeight=12&flightNo=LH%20123&destinationShort=YYZ&destinationLong=Toronto&destinationInfo1=43.6766째N,%2079.6305째W&destinationInfo2=569FT%20%20UTC%20-4:00HR

			$(document).ready(function() {

				const queryString = window.location.search;
				const urlParams = new URLSearchParams(queryString);

				var passengerName 			= urlParams.get('passengerName') 	? urlParams.get('passengerName') 	: "Jane Doe";
				var flightWeight			= urlParams.get('flightWeight') 	? urlParams.get('flightWeight') 	: 10;
				var flightNo 				= urlParams.get('flightNo') 		? urlParams.get('flightNo') 		: "XYZ 123";
				var destinationShort 		= urlParams.get('destinationShort') ? urlParams.get('destinationShort') : "ABC";
				var destinationLong 		= urlParams.get('destinationLong') 	? urlParams.get('destinationLong') 	: "Buxtehude";
				var destinationInfo1 		= urlParams.get('destinationInfo1') ? urlParams.get('destinationInfo1') : "53.4674째N, 9.6915째E";
				var destinationInfo2 		= urlParams.get('destinationInfo2') ? urlParams.get('destinationInfo2') : "16FT  UTC +1:00HR";

				new LuggageTagRenderer({
					'name'				: "luggageTag",
					'barcodeString'		: new Date().valueOf(),
					'flightWeight'		: flightWeight,
					'flightNo'			: flightNo,
					'passengerName'		: passengerName,
					'destinationShort'	: destinationShort,
					'destinationLong'	: destinationLong,
					'destinationInfo1'	: destinationInfo1,
					'destinationInfo2'	: destinationInfo2,
					'backgroudImage'	: "/pic/static/suitcase/LuggageTag.svg",
					'callback'			: function(url) {
						var newImg = document.createElement('img');
						newImg.onload = function() {
							// no longer need to read the blob so it's revoked
							URL.revokeObjectURL(url);
						};
						newImg.src = url;
						document.body.appendChild(newImg);
				
					}
				});

			
			}) ;


		</script>
	</head>
	<body>
	</body>
</html>
