<!DOCTYPE html>
<html>
<head>
	<%- include('partials/control-std-header'); %>
	<link rel="stylesheet" type="text/css" href="/css/static/control-window.css">
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<title>Modem</title>
	
</head>
<body>
	<div id="bodyframe">
		<div class="headline">
			<img alt="sierra logo" src="/pic/static/sierra-logo-h_whitetext.png" />
			<h1 class="headline-text">Modem Control</h1>
			<button class="ui circular plug icon button headline-button" id="btn-serialport">
				<i class="plug icon"></i>
			</button>
			<button class="ui circular wrench icon button headline-button" id="btn-config">
				<i class="wrench icon"></i>
			</button>
		</div>		


		<div id="indicator"></div>
<!--		<table class="indicator">
			<tbody>
				<tr>
					<td id="indicator-uart" class="indicator-neutral">UART</td>
					<td id="indicator-modem" class="indicator-neutral">Modem</td>
					<td id="indicator-attached" class="indicator-neutral">Attached</td>
					<td id="indicator-tcp" class="indicator-neutral">TCP OK</td>
				</tr>
			</tbody> -->
		</table>
		<div class="dragable" id="logtext"></div>
		<div class="ui search">
		  <div class="ui action input"  id="input-at-wrap">
		    <input id="input-at" class="prompt" type="text" placeholder="AT">
		    <button class="ui icon button promptbutton" id="btn-send-witout-linebreak">
    			<i class="play icon"></i>
  			</button>
		   <!-- <i class="inverted circular chevron right icon"></i> -->
		  </div>
		</div>

		<div class="ui modal" id="modal-serialapi">
		  <div class="header">Serial API</div>
		  <div class="content">
		    <p>There is no serial API available in this browser. Functions will be very limited</p>
		  </div>
		  <div class="actions">
		    <div class="ui approve button">OK</div>
		  </div>
		</div>
	</div>
	<%- include('partials/footer'); %>
</body>
</html>