<!DOCTYPE html>
<html>
<head>
	<%- include('partials/std-header'); %>
	<title>Demo Application</title>
	<script type="module"  src="/js/static/demo.js"></script>

</head>
<body>
	<div class="headline"><img alt="sierra logo" src="/pic/static/sierra-logo-h.png" /><h1 class="headline-text">Demo Application: Smart baggage tag</h1></div>
</body>
</html>