<style type="text/css">
	.copyright {
	    position: absolute;
	    bottom: 10px;
	    right: 10px;
	    font-size: 10px;
	    color: #fff;
	    font-family: 'Lato',sans-serif;
	}

</style>

<div class="copyright">(c) 2020-2022 by SWI, Thomas Schmidt</div>