<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

-->
    	<title>Demo Flight Booking</title>
    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/fnt/font-awesome/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="/css/static/sierraflight/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/static/sierraflight/tooplate-style.css">

		<script src="/js/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/js/static/sierraflight/sierraflight.js"></script>
        <script  src="/js/moment/moment.min.js"></script>

    </head>

<body>

    
    <section class="banner" id="top">
        <div class="">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="left-side">
                        <div class="logo">
                           <img src="/pic/static/sierra-logo-h_whitetext.png" />DemoFlightBooking.com
                        </div>
                        <div class="tabs-content">
                            <h4>Choose Your Direction:</h4>
                            <ul class="social-links">
                                <li><a href="#">Find us on <em>Facebook</em><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#">Our <em>YouTube</em> Channel<i class="fa-brands fa-youtube" ></i></a></li>
                                <li><a href="#">Follow our <em>instagram</em><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="page-direction-button">
                            <a href="#"><i class="fa fa-phone"></i>Contact Us Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-0">

					<div class="col-md-1 col-md-offset-11 loginbutton-container">
						<span class="col-md-1 loginbutton"><button id="btn-user"><i class="fa fa-user loginbutton-item"></i></button></span>
					</div>

                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="submit-form">
                                <h4>Book suitcase demo flights:</h4>
                              <div id="flight-data"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>






    <section id="most-visited">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Travel today:</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="owl-mostvisited" class="owl-carousel owl-theme">
                        <div class="item col-md-3">
                            <div class="visited-item">
                                <img src="/pic/static/sierraflight/place-01.jpg" alt="">
                                <div class="text-content">
                                    <h4>River Views</h4>
                                    <span>New York</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-3">
                            <div class="visited-item">
                                <img src="/pic/static/sierraflight/place-02.jpg" alt="">
                                <div class="text-content">
                                    <h4>Japan</h4>
                                    <span>Tokyo</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-3">
                            <div class="visited-item">
                                <img src="/pic/static/sierraflight/place-03.jpg" alt="">
                                <div class="text-content">
                                    <h4>1 Week Europe</h4>
                                    <span>Paris</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-3">
                            <div class="visited-item">
                                <img src="/pic/static/sierraflight/place-04.jpg" alt="">
                                <div class="text-content">
                                    <h4>Visit the studios</h4>
                                    <span>Hollywood</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/tooplate"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright &copy; 2018 Flight Tour and Travel Company
                
                | Design: <em>Tooplate</em></p>
                </div>
            </div>
        </div>
    </footer>


    
    <div class="modal" tabindex="-1" role="dialog" id="modal-login">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Username and Access Token for demo flight page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" autocomplete="username" id="inputUsername" placeholder="Enter Username">
              </div>
<!--              <div class="form-group">
                <label for="inputToken">Token</label>
                <input type="password" class="form-control" autocomplete="current-password" id="inputToken" placeholder="Token" />
                <button id="btn-showhide-pw"><i class="fa fa-eye"></i></button>
              </div>
              <div class="form-group">
                <label for="flightName">Flight name</label>
                <input type="text" class="form-control" id="flightName" placeholder="Enter the name on the luggage tag">
              </div>
              <div class="form-group">
                <label for="flightWeight">Luggage Weigth</label>
                <input type="text" class="form-control" id="flightWeight" placeholder="Enter the weight on the luggage tag">
              </div>
            </form>
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn-save-token">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div> 
        </div>
      </div>
    </div>

  
</body>
</html>